body {
    overflow-x: hidden;
}
.hidden {
  display: none;
}

.blink {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 100vh;
    border-radius: 50%;
    filter: blur(30px);
    box-shadow: inset 0 0 0px 90px black,
        0 0 0 9999px black;
    animation: blinkk 3s 1 alternate;
    animation-fill-mode:forwards;
    transition: all .3s;
}

@keyframes blinkk {
    0%{
        transform: translate(-50%, -50%) scaleY(2);
    }
    20% {
        transform: translate(-50%, -50%) scaleY(.1);
    }

    50% {
        transform: translate(-50%, -50%) scaleY(1);
    }

    70% {
        transform: translate(-50%, -50%) scaleY(.1);
    }

    100% {
        transform: translate(-50%, -50%) scale(2);
    }
}